* {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #000;
  color: #fff;
  text-align: center;
}
.lesson {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lesson .lesson__item {
  width: 140px;
  height: 75px;
  margin: 20px;
  padding: 20px 10px;
  text-align: center;
}
.lesson .lesson__item:hover .work {
  display: inline;
}
.lesson .lesson__item .work {
  display: none;
}
.lesson .lesson__item .work a {
  color: #fff;
}
